<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Gapminder Challenge</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script>
    function flip(event) {
      var element = event.currentTarget.closest(".card");
      if (element.className === "card") {
        if (element.style.transform == "rotateY(180deg)") {
          element.style.transform = "rotateY(0deg)";
        }
        else {
          element.style.transform = "rotateY(180deg)";
        }
      }
    };
    function quiz1Func(value) {

      btn1 = document.getElementById("btn1");
      btn2 = document.getElementById("btn2");
      btn3 = document.getElementById("btn3");
      btn4 = document.getElementById("btn4");

      btn1.style.backgroundColor = "#ee4266";
      btn1.style.color = "white";
      btn2.style.backgroundColor = "#0ead69";    // correct answer is 20%
      btn2.style.color = "white";
      btn3.style.backgroundColor = "#ee4266";
      btn3.style.color = "white";
      btn4.style.display = "block"

    }
    function quiz2Func(value) {

      btn1 = document.getElementById("q2_btn1");
      btn2 = document.getElementById("q2_btn2");
      btn3 = document.getElementById("q2_btn3");
      btn4 = document.getElementById("q2_btn4");

      btn1.style.backgroundColor = "#ee4266";
      btn1.style.color = "white";
      btn2.style.backgroundColor = "#ee4266";
      btn2.style.color = "white";
      btn3.style.backgroundColor = "#0ead69";  // correct answer is 2.7
      btn3.style.color = "white";
      btn4.style.display = "block"

    }
  </script>

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-2">Gapminder Challenge</h1>
    <p class="lead">Take the challenges below to see how
      you understand global issues such as
      healthcare and finance development. <br>Test yourselves now!</p>
  </div>




  <div class="left">
    <div class="container">
      <div class="card">
        <div class="front">
          <h1>Challenge 1</h1>
          <p> What is the child mortality rate?</p>
          <div class="btn-group"" >
            <button onclick=" quiz1Func('10%')" id="btn1">10%</button>
            <button onclick="quiz1Func('20%')" id="btn2">20%</button>
            <button onclick="quiz1Func('30%')" id="btn3">30%</button>
            <button onclick="flip(event)" id="btn4" style="display:none">Flip to Explore!</button>
          </div>
        </div>
        <div class="back">
          <iframe noresize="noresize" style="
        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
          border: 1px solid black;
      " src={{app1}}>
          </iframe>
        </div>
      </div>
    </div>
  </div>


  <!-- PART 2 -->
  <div class="right">
    <div class="container">
      <div class="card">
        <div class="front">
          <h1>Challenge 2</h1>
          <p> The average number of children per woman in 1960 is 5.5, how about in 2010?</p>
          <div class="btn-group"" >
            <button onclick=" quiz2Func('a')" id="q2_btn1">5.0</button>
            <button onclick="quiz2Func('b')" id="q2_btn2">0.9</button>
            <button onclick="quiz2Func('c')" id="q2_btn3">3.0</button>
            <button onclick="flip(event)" id="q2_btn4" style="display:none;">Flip to
              Explore!</button>
          </div>
        </div>
        <div class="back">
          <iframe noresize="noresize" style="
          position: absolute;
          background: transparent;
          width: 100%;
          height: 100%;
          
          " src={{app2}}>

          </iframe>
        </div>
      </div>
    </div>
  </div>


  <!-- PART 3 -->
  <div class="left">
    <div class="container">
      <div class="card">
        <div class="front">
          <h1>This is the front 3</h1>
        </div>
        <div class="back">
          <h1>This is the back</h1>
          </iframe>
        </div>
      </div>
    </div>
  </div>


  <!-- PART 4 -->
  <div class="right">
    <div class="container">
      <div class="card">
        <div class="front">
          <h1>This is the front 4</h1>
        </div>
        <div class="back">
          <h1>This is the back</h1>
          </iframe>
        </div>
      </div>
    </div>
  </div>


</body>

</html>