<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Gapminder Challenge</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Caveat&family=Kalam:wght@300&family=Press+Start+2P&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  <script src="https://cdn.jsdelivr.net/npm/party-js@latest/bundle/party.min.js"></script>
  <script src="{{url_for('static', filename='js/main.js')}}"></script>

</head>

<body>
  <div class="jumbotron">
    <h1 class="display-2">Gapminder Challenge</h1>
    <p class="lead">Take the challenges below to see how
      you understand global issues such as
      healthcare and finance development. <br>Test yourselves now!</p>
  </div>


  <!-- PART 1 -->


  <div class="left">
    <div class="container">
      <div class="card">
        <div class="front card-1">
        <img id="btn4" class="btn--jump" src="/static/img/right-arrow.png" style="display:none"onclick="flip(event)" >
          <h1>Challenge 1</h1>
          <p>Which continents has the highest C02 per capita in 2014?</p>
          <div class="btn-group" >
            <button class="button-6" onclick="quiz1Func(event, 'btn1')" id="btn1">Americas</button>
            <button class="button-6"  onclick="quiz1Func(event, 'btn2')" onmousedown="party.confetti(this)" id="btn2">Asia</button>
            <button class="button-6"  onclick="quiz1Func(event, 'btn3')" id="btn3">Europe</button>
          </div>
        </div>
        <div class="back">
          <img class="btn-back" src="/static/img/turn-right-arrow.png" onclick="flip(event)">
          <div>
            <br>
            <iframe noresize="noresize" style="
        position: absolute;
        background: transparent;
        width: 100%;
        height: 100%;
          border: 0px solid black;
      " src={{app1}}>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!-- PART 2 -->
  <div class="right">
    <div class="container">
      <div class="card">
        <div class="front card-2">
          <img id="q2_btn4" class="btn--jump" src="/static/img/right-arrow.png" style="display:none" onclick="flip(event)">
          <h1>Challenge 2</h1>
          <p> The average number of children per woman in 1960 is 5.5, how about in 2010?</p>
          <div class="btn-group">
            <button class="button-6" onclick=" quiz2Func(event,'btn1')" id="q2_btn1">5.0</button>
            <button class="button-6" onclick="quiz2Func(event,'btn2')" id="q2_btn2">0.9</button>
            <button class="button-6" onclick="quiz2Func(event,'btn3')" id="q2_btn3" onmousedown="party.confetti(this)">3.0</button>
          </div>
        </div>
        <div class="back">
          <img class="btn-back" src="/static/img/turn-right-arrow.png" onclick="flip(event)">
          <div>
            <br>
            <iframe noresize="noresize" style="
          position: absolute;
          background: transparent;
          width: 100%;
          height: 100%;
          border: 0px solid black;
        " src={{app2}}>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- PART 3 -->
  <div class="left">
    <div class="container">
      <div class="card">
        <div class="front  card-3">
          <img id="q3_btn4" class="btn--jump" src="/static/img/right-arrow.png" style="display:none" onclick="flip(event)">
          <h1>Challenge 3</h1>
          <p> Average life expectancy was about 34 in Sub-Saharran Africa in 1940. What about in 2018?</p>
          <div class="btn-group">
            <button class="button-6" onclick=" quiz3Func(event,'btn1')" id="q3_btn1">48</button>
            <button class="button-6" onclick="quiz3Func(event,'btn2')" id="q3_btn2">57</button>
            <button class="button-6" onclick="quiz3Func(event,'btn3')" id="q3_btn3" onmousedown="party.confetti(this)">64</button>
            <br>
            <button onclick="flip(event)" id="q3_btn4" style="display:none; width:50%">Flip to Explore!</button>
          </div>
        </div>
        <div class="back">
          <img class="btn-back" src="/static/img/turn-right-arrow.png" onclick="flip(event)">
          <div>
            <br>
            <iframe noresize="noresize" style="
            position: absolute;
            background: transparent;
            width: 100%;
            height: 100%;
            border: 0px solid black;
            " src={{app3}}>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>




  <!-- PART 4 -->
  <div class="right">
    <div class="container">
      <div class="card">
        <div class="front card-4">
          <img id="q4_btn4" class="btn--jump" src="/static/img/right-arrow.png" style="display:none" onclick="flip(event)">
          <h1>Challenge 4</h1>
          <p> Which region experienced the greatest increase in income per capita during the last 50 years?</p>
          <div class=" btn-group">
            <button class="button-6" onclick=" quiz4Func(event,'btn1')" id="q4_btn1">Oceania</button>
            <button class="button-6" onclick="quiz4Func(event,'btn2')" id="q4_btn2" onmousedown="party.confetti(this)">Europe</button>
            <button class="button-6" onclick="quiz4Func(event,'btn3')" id="q4_btn3">Asia</button>
            <br>
            <button onclick="flip(event)" id="q4_btn4" style="display:none; width:50%">Flip to Explore!</button>
          </div>
        </div>
        <div class="back">
          <img class="btn-back" src="/static/img/turn-right-arrow.png" onclick="flip(event)">
          <div>
            <br>
            <iframe noresize="noresize" style="
      position: absolute;
      background: transparent;
      width: 100%;
      height: 100%;
        border: 0px solid black;
    " src={{app4}}>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>


</body>

</html>