body {
/* background: #03001e;  
background: -webkit-linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e); 
background: linear-gradient(to top, #fdeff9, #ec38bc, #7303c0, #03001e);
*/
background: #1E9600;  
background: -webkit-linear-gradient(to bottom, #03001e, #7303c0, #f1cde7, #7303c0,#03001e);
background: linear-gradient(to bottom, #03001e, #7303c0, #f1cde7, #7303c0,#03001e); 
font-family: 'Kalam', cursive;


}
  .left {
      float: left;
      width: 50%;
    }

    .right {
      float: left;
      width: 50%;
    }

    .header {
      text-align: center
    }

    div {
      width: 100%;
      height: 100%;
    }

    .container {
      margin: 20px;
      width: 650px;
      height: 550px;
      perspective: 1000px;
      margin-left: auto;
      margin-right: auto;
      /* font-family: Ubuntu; */
      font-size: 1.2rem;
    }

    .card {
      transition: transform 2s;
      transform-style: preserve-3d;
      cursor: pointer;
      background-color: white;
      border-radius: 30px;
      color: white;
    }

    .front{
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      /* border: 1px solid black; */
      border-radius: 30px;
      /* padding: 20px; */
    }

    .front p {
      margin: 40px;
    }

    .back {
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      backface-visibility: hidden;
      /* border: 1px solid black; */
      border-radius: 30px;
      
    }

    .back {
      transform: rotateY(180deg);
    }

    .btn-group {
      /* border: 1px solid black; */
      width: 50%;
      height: 50%;
    }

    .btn-group button {
      /* background-color: #04AA6D; */
      /* Green background */
      /* border: 1px solid black; */
      /* Green border */
      /* color: black; */
      /* White text */
      padding: 10px 24px;
      margin: 20px;
      /* Some padding */
      cursor: pointer;
      /* Pointer/hand icon */
      width: 100%;
      /* Set a width if needed */
      display: block;
      /* Make the buttons appear below each other */
      border-radius: 20px;
      margin-left: auto;
      margin-right: auto;
      /* background-color: rgb(105, 105, 143); */
      background-color: transparent;
      /* color: white; */

    }
    

    .display-2 {
      color: white;
      font-size: 4rem;
      font-weight: 500;
      line-height: 0.5;
      text-align: center; 
      
  }
  .jumbotron {
    /* background-color: rgb(248, 193, 42);  */
    /* font-family: Ubuntu;  */
    /* width: 100vw;  */
    /* margin-left: -63px; 
    border-radius: 0px; 
    padding: 5px;
    margin-top: 0px; */
    font-family: 'Press Start 2P', cursive;
    
}
.lead {
  text-align: center; 
  color: white; 
  font-family: 'Caveat', cursive;
  font-size: 2rem;
}
.flip_button {
  height: 3%;
  padding: 5px;
  width: 5%;
  margin-top: 0%;
  margin-left: 90%;
  margin-right: 5%
}

.flip_button button {
  background-color: rgb(105, 105, 143);
  border-radius: 5px;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* CARD BACKGROUNDS */

.card-1 {
background: #f12711;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left top, #e0a014, #f12711);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left top, #e0a014, #f12711); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */



}

.card-2 {
background: #e96443;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right top,  #f0967f, #904e95,);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right top, #f0967f, #904e95); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.card-3 {
background: #4e54c8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right top,#4e54c8, #a3a6e0 );  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right top,#4e54c8, #a3a6e0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}



.card-4 {
background: #43cea2;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left top, #185a9d, #43cea2);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left top, #185a9d, #43cea2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}


/* CSS */
.button-6 {
  align-items: center;
  /* background-color: #2e2020; */
  /* border: 1px solid #FFFFFF; */
  /* background-color: rgba(245, 243, 243, 0.65); */
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  /* color: rgba(0, 0, 0, 0.85); */
  color: rgba(245, 243, 243, 0.65);
  cursor: pointer;
  display: inline-flex;
  /* font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif; */
  font-family: 'Kalam', cursive;
  font-size: 20px;
  /* font-weight: 600;  */
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.button-6:hover,
.button-6:focus {
  border-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgb(255, 255, 255);
}

.button-6:hover {
  transform: translateY(-1px);
}

.button-6:active {
  background-color: #F0F0F1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}

.button-shake {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}